#poll-data{
    padding-top: 2em;
}
#title{
    float:left;
}
#dataOptions{
    text-align:center;
    width: 70%;
    padding-left:30%;
}
.poll{
    text-align:left;
    font-size: 2em;
}
#dataSubmit{
    float:left;
    font-size: 2em;
}